---
import Base from '../layouts/Base.astro';
---
<Base
  title="About Us | Anchor Valley"
  description="Meet the team behind Anchor Valley. We help growth-stage businesses scale with clarity, structure, and hands-on execution."
  ogTitle="About Us | Anchor Valley"
  ogDescription="Meet the team behind Anchor Valley. We help growth-stage businesses scale with clarity, structure, and hands-on execution."
  ogImage="https://cdn.prod.website-files.com/67eae1b7fc9051bcedb2f677/6825032b9cf2179fa6fc6259_site-thumbnail.jpg"
  canonical="https://www.anchorvalleygroup.com/about-us"
>
  <div class="page-wrapper line-bg">
<div class="section_hero">
      <div class="padding-global-2">
        <div class="container-large">
          <div class="padding-section-medium flex">
            <h1><strong>A little bit about </strong><span class="underlined"><strong>who we are</strong></span></h1>
            <div class="spacer-large"></div>
            <div class="w-layout-grid features_grid-wrapper">
              <div class="w-layout-grid features_grid l">
                <div class="features_image-wrapper no-bg"><img sizes="(max-width: 2000px) 100vw, 2000px" srcset="/images/James-Shot-2-p-500.webp 500w, /images/James-Shot-2-p-800.webp 800w, /images/James-Shot-2-p-1080.webp 1080w, /images/James-Shot-2-p-1600.webp 1600w, /images/James-Shot-2.webp 2000w" alt="feature-analytics" src="/images/James-Shot-2.webp" loading="lazy" class="features_image"></div>
                <div id="w-node-_06d3cfef-08ae-5dc1-7fc0-cd9f7cbe0a39-e8ba1dbd" class="features_content-wrapper">
                  <h2><strong>Your partners in clarity, growth, and operational momentum</strong></h2>
                  <div class="padding-small"></div>
                  <p>Anchor Valley is a consulting firm focused on helping growth-stage businesses simplify complexity and scale with confidence. We partner directly with executive teams to diagnose operational friction, surface high-leverage actions, and implement systems that drive long-term performance.</p>
                  <div class="spacer-medium"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section_body-content">
      <div class="padding-global-2">
        <div class="container-small">
          <div class="padding-section-medium">
            <h2 class="align-center">Our <span class="underlined">many services</span> we provide</h2>
            <div class="spacer-xl"></div>
            <div class="w-layout-grid grid_industries _2">
              <div class="div_services"><img loading="lazy" src="/images/Stock--Streamline-Flex.svg" alt="" class="i-5rem square">
                <div class="spacer-medium"></div>
                <h5 class="align-center">Financial<br>Consulting</h5>
                <div class="spacer_small"></div>
              </div>
              <div class="div_services"><img loading="lazy" src="/images/i-operations.webp" alt="" class="i-5rem square">
                <div class="spacer-medium"></div>
                <h5 class="align-center">Operations consulting</h5>
                <div class="spacer_small"></div>
              </div>
              <div class="div_services"><img loading="lazy" src="/images/Combine--Streamline-Flex.svg" alt="" class="i-5rem square">
                <div class="spacer-medium"></div>
                <h5 class="align-center">M&amp;A <br>Consulting</h5>
                <div class="spacer_small"></div>
              </div>
              <div class="padding-medium div_services"><img loading="lazy" src="/images/Startup--Streamline-Flex.svg" alt="" class="i-5rem square">
                <div class="spacer-medium"></div>
                <h5 class="align-center">Startup<br>Consulting</h5>
                <div class="spacer_small"></div>
              </div>
              <div class="div_services"><img loading="lazy" src="/images/Seo--Streamline-Flex.svg" alt="" class="i-5rem square">
                <div class="spacer-medium"></div>
                <h5 class="align-center">SEO<br>Consulting</h5>
                <div class="spacer_small"></div>
              </div>
              <div class="div_services"><img loading="lazy" src="/images/Globe-Browser-Click-Captive-Portal--Streamline-Flex.svg" alt="" class="i-5rem square">
                <div class="spacer-medium"></div>
                <h5 class="align-center">Web<br>Development</h5>
                <div class="spacer_small"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section_body-content">
      <div class="padding-global-2">
        <div class="container-large">
          <div class="padding-section-medium">
            <h2 class="align-center">Our small but mighty team</h2>
            <div class="spacer-xl"></div>
            <div class="w-layout-grid features_grid-wrapper">
              <div class="w-layout-grid features_grid l">
                <div class="features_image-wrapper no-bg"><img loading="lazy" src="/images/James-shot-1.webp" alt="feature-analytics" class="features_image"></div>
                <div id="w-node-_3e7f9b27-ee00-d7e5-a751-311e0ba3c3f9-e8ba1dbd" class="features_content-wrapper">
                  <h2><strong>James Ruff</strong></h2>
                  <p class="text-style-allcaps underlined">founder &amp; CEO</p>
                  <div class="padding-small"></div>
                  <p>James is a veteran operator with over two decades of experience leading high-performing teams and building the operational infrastructure businesses need to scale with confidence. Before founding Anchor Valley, he held senior leadership roles across manufacturing, industrial services, and private equity environments. He has managed teams across finance, operations, and strategy, and has consistently focused on solving execution challenges, simplifying complexity, and bringing clarity to fast-moving businesses.<br>‍<br>From restructuring regional operations and increasing EBITDA to aligning executive teams around scalable systems, James brings hands-on experience that directly informs the way Anchor Valley supports clients.<br>‍<br>Earlier in his career, James served in the U.S. Navy as an Electronics Technician Supervisor. His time in the military shaped his approach to leadership, reinforcing the value of structure, discipline, and follow-through under pressure. These principles continue to guide his work with founders and executive teams today.</p>
                  <div class="spacer-medium"></div>
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section_body-content">
      <div class="padding-global-2">
        <div class="container-large">
          <div class="padding-section-medium">
            <div class="w-layout-grid features_grid">
              <div id="w-node-_2a2e6d25-e590-049c-1ca4-bd320613ef91-0613ef8c" class="features_image-wrapper no-bg">
                <div class="padding-medium testimonial canted"><img src="/images/Description--Streamline-Flex.svg" loading="lazy" alt="" class="i-3rem mirror">
                  <div class="spacer_medium"></div>
                  <p>&quot;Anchor Valley has been an incredible blessing to our church. James has helped us get clarity around our finances, streamline how we operate, and build a solid plan for the future. Their guidance has brought real peace of mind and made it easier to focus on ministry.&quot;</p>
                  <div class="spacer_medium"></div>
                  <div class="div_testimonial-wrap"><img src="/images/Screenshot-2025-05-14-115745.png" loading="lazy" alt="" class="i-headshot">
                    <div class="spacer_horizontal-small"></div>
                    <div class="div_testimonial-title">
                      <p>Johnny Chae</p>
                      <p class="text-size-small">Pastor of Heritage Baptist Church</p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="w-node-_2a2e6d25-e590-049c-1ca4-bd320613efaf-0613ef8c" class="features_content-wrapper">
                <div class="div_heading-icon-wrap"><img src="/images/Navigation-Arrow-East--Streamline-Flex.svg" loading="lazy" alt="" class="i-2rem square">
                  <div class="spacer-horizontal-small"></div>
                  <h2>What our clients have to say</h2>
                </div>
                <div class="padding-small"></div>
                <p>Our clients come to us for clarity and stay with us for momentum. Whether it’s building a financial model that actually gets used, or helping a founder get out of the weeds, we focus on the work that moves the business forward.</p>
                <div class="spacer-medium"></div>
                <ul role="list">
                  <li class="underlined">Trusted by both founders and operating partners</li>
                  <li class="underlined">Built to integrate with your team, not replace it</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section_body-content">
      <div class="padding-global-2">
        <div class="container-large">
          <div class="padding-section-medium">
            <h2 class="align-center">Need some additional answers?<br>We got you covered.</h2>
            <div class="spacer-large"></div>
            <div class="fs_accordion-1_component-2">
              <div class="fs_accordion-1_embed-2 w-embed w-script"><!--  [Finsweet Attributes] A11Y  -->
                <script>(()=>{var t="https://cdn.jsdelivr.net/npm/@finsweet/attributes-a11y@1/a11y.js",e=document.querySelector(`script[src="${t}"]`);e||(e=document.createElement("script"),e.async=!0,e.src=t,document.head.append(e));})();</script>
              </div>
              <div class="fs_accordion-1_item-2">
                <div id="accordion-1-header-1" tabindex="0" role="button" aria-controls="accordion-1-content-1" aria-expanded="false" class="fs_accordion-1_header-2">
                  <div class="fs_accordion-1_label-2"><strong>What makes Anchor Valley different from other consulting firms?</strong></div>
                  <div class="fs_accordion-1_arrow-wrapper-2">
                    <div class="fs_accordion-1_icon-2 w-icon-dropdown-toggle"></div>
                  </div>
                </div>
                <div id="accordion-1-content-1" aria-labelledby="accordion-header-1" class="fs_accordion-1_content-2">
                  <div class="fs_accordion-1_body-2">
                    <p class="fs_accordion-1_paragraph-2">We don’t drop a playbook on your desk and walk away. We work side by side with you to solve real problems in real time, tailoring everything to your team, goals, and operational realities. No fluff. Just progress.</p>
                  </div>
                </div>
              </div>
              <div class="fs_accordion-1_item-2">
                <div id="accordion-1-header-1" tabindex="0" role="button" aria-controls="accordion-1-content-1" aria-expanded="false" class="fs_accordion-1_header-2">
                  <div class="fs_accordion-1_label-2"><strong>Do you only work with companies in a specific industry?</strong></div>
                  <div class="fs_accordion-1_arrow-wrapper-2">
                    <div class="fs_accordion-1_icon-2 w-icon-dropdown-toggle"></div>
                  </div>
                </div>
                <div id="accordion-1-content-1" aria-labelledby="accordion-header-1" class="fs_accordion-1_content-2">
                  <div class="fs_accordion-1_body-2">
                    <p class="fs_accordion-1_paragraph-2">Nope. While we’ve worked extensively in SaaS, energy, financial services, and more, our approach is industry-agnostic. If you have complexity in your business, we can help you untangle it and scale smarter.</p>
                  </div>
                </div>
              </div>
              <div class="fs_accordion-1_item-2">
                <div id="accordion-1-header-1" tabindex="0" role="button" aria-controls="accordion-1-content-1" aria-expanded="false" class="fs_accordion-1_header-2">
                  <div class="fs_accordion-1_label-2"><strong>What kind of companies do you typically work with?</strong></div>
                  <div class="fs_accordion-1_arrow-wrapper-2">
                    <div class="fs_accordion-1_icon-2 w-icon-dropdown-toggle"></div>
                  </div>
                </div>
                <div id="accordion-1-content-1" aria-labelledby="accordion-header-1" class="fs_accordion-1_content-2">
                  <div class="fs_accordion-1_body-2">
                    <p class="fs_accordion-1_paragraph-2">We work with growth-minded founders and small teams, especially those going through change, dealing with complexity, or preparing for a big move. Most of our clients are scaling, cleaning up operations, or getting ready for funding or an exit. If you’re tired of doing things the hard way, you’re in the right place.</p>
                  </div>
                </div>
              </div>
              <div class="fs_accordion-1_item-2">
                <div id="accordion-1-header-1" tabindex="0" role="button" aria-controls="accordion-1-content-1" aria-expanded="false" class="fs_accordion-1_header-2">
                  <div class="fs_accordion-1_label-2"><strong>What kind of outcomes should we expect?</strong></div>
                  <div class="fs_accordion-1_arrow-wrapper-2">
                    <div class="fs_accordion-1_icon-2 w-icon-dropdown-toggle"></div>
                  </div>
                </div>
                <div id="accordion-1-content-1" aria-labelledby="accordion-header-1" class="fs_accordion-1_content-2">
                  <div class="fs_accordion-1_body-2">
                    <p class="fs_accordion-1_paragraph-2">Every engagement is different, but our goal is always the same: to create systems, structure, and clarity so your team can move faster with less stress. Most clients see stronger execution, fewer bottlenecks, and better visibility into what’s working.</p>
                  </div>
                </div>
              </div>
              <div class="fs_accordion-1_item-2">
                <div id="accordion-1-header-3" tabindex="0" role="button" aria-controls="accordion-1-content-3" aria-expanded="false" class="fs_accordion-1_header-2">
                  <div class="fs_accordion-1_label-2"><strong>What if I’m not totally sure what kind of help I need?</strong></div>
                  <div class="fs_accordion-1_arrow-wrapper-2">
                    <div class="fs_accordion-1_icon-2 w-icon-dropdown-toggle"></div>
                  </div>
                </div>
                <div id="accordion-1-content-3" aria-labelledby="accordion-header-3" class="fs_accordion-1_content-2">
                  <div class="fs_accordion-1_body-2">
                    <p class="fs_accordion-1_paragraph-2">That’s exactly what reaching out is for. We’ll help you figure out what’s really getting in the way and where to focus first. Even if we’re not the right fit, you’ll leave with more clarity.<br><br>Book a <a href="https://cal.com/anchorvalley/discovery-call" target="_blank" class="link-3">discovery call</a> with us if you&#x27;d like to chat! </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</Base>
