<div class="padding-footer">
    <div class="section_footer">
      <div class="spacer-large-2"></div>
      <div class="w-layout-grid footer_grid">
        <div id="w-node-_23bab93a-c4dc-9a84-63b6-f709d19c37fd-d19c37f9" class="padding-medium center-align-tablet">
          <div class="heading-style-h4">Wyre Digital</div>
          <div class="spacer-large"></div>
          <p class="heading-style-h4"><strong>Financial infrastructure built on BSV.</strong></p>
          <div class="spacer-medium-2"></div>
          <p class="text-size-small">©2026 Wyre Digital. All rights reserved.</p>
          <div class="spacer-medium-2"></div>
        </div>
        <div class="padding-medium">
          <div class="w-layout-grid grid_4c">
            <div class="padding-small flex">
              <p class="footer_heading-small black">Products</p>
              <a href="/products" class="footer_text-link black">Products</a>
            </div>
            <div class="padding-small flex">
              <p class="footer_heading-small black">Immutable Records</p>
              <a href="/immutable-records" class="footer_text-link black">Immutable Records</a>
            </div>
            <div class="padding-small flex">
              <p class="footer_heading-small black">Company</p>
              <a href="/about" class="footer_text-link black">About</a>
              <a href="/contact" class="footer_text-link black">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>