<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="navigation-container">
      <div class="navigation-wrapper-large">
        <a href="/" class="navigation-logo-link w-inline-block ">
          <div class="nav-logo">Wyre Digital</div>
        </a>
        <nav role="navigation" class="navigation-menu w-nav-menu">
          <a href="/products" class="nav-link-s w-inline-block">
            <div class="text-size-small nav-hover">Products</div>
          </a>
          <a href="/immutable-records" class="nav-link-s w-inline-block">
            <div class="text-size-small nav-hover">Immutable Records</div>
          </a>
          <a href="/contact" class="nav-link-s w-inline-block">
            <div class="text-size-small nav-hover">Contact</div>
          </a>
          <div class="spacer_medium mobile"></div>
          <div class="navigation-button-wrapper mobile"></div>
        </nav>
      </div>
      <div class="navigation-button-group">
        <div class="navigation-button-wrapper">
          <p class="text-style-nowrap">Book a</p><img src="/images/Triangle-Arrow-Curve-Up-Right--Streamline-Flex.svg" loading="lazy" alt="" class="i-1rem min">
          <a href="https://cal.com/anchorvalley/discovery-call" target="_blank" class="button is-small w-button">Discovery Call</a>
        </div>
        <div class="navigation-menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>